@font-face {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/Fonts/chronicleDisplayFonts/chronicleDisplaySemibold.otf")
    format("truetype");
}

@font-face {
  font-family: "Chronicle Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/Fonts/chronicleDisplayFonts/ChronicleDisplayBold.otf")
    format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/Fonts/gilroyFont/Gilroy-Light.otf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/Fonts/gilroyFont/Gilroy-ExtraBold.otf") format("truetype");
}

body {
  line-height: 32px !important;
}

h1 {
  font-family: "Chronicle Display";
}

h2 {
  font-family: "Chronicle Display";
}

.title-font {
  font-family: "Chronicle Display";
}

// #app .container {
//   max-width: 1760px;
// }

@media (max-width: 1680px) {
  html {
    font-size: 85% !important;
  }
}

.g-link {
  text-decoration: none;
  cursor:pointer;
  border-bottom: 1px solid transparent;
  transition: all .3s;
  &:hover {
    border-bottom: 1px solid #fff;
  }
}
