// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: "Gilroy", sans-serif;
$title-font: "Gilroy", sans-serif;
$heading-font-family: "Chronicle Display", sans-serif;
